body{
    background-color: pink;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.square{
    background-color: white;
    width: 50px;
    height: 50px;
    border: 1px;
    border-style: solid;
    margin: 5px;
}